<a href="https://colab.research.google.com/github/samiha-mahin/Price_Prediction_ML/blob/main/Dhaka_Apartment_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [5]:
df1 = pd.read_csv('/content/Dhaka_Apartment_Dataset.csv')
df2 = pd.read_csv('/content/bproperty_data.csv')

In [6]:
df2.head()

,Unnamed: 0,Location,Price,Type,No. Beds,No. Baths,Area,Latitude,Longitude,Region,Sub-region
0,0.0,"Sector 10, Uttara, Dhaka",7500000,Apartment,3.0,3.0,1300.0,23.86846,90.39280,Uttara,Sector 10
1,1.0,"Section 11, Mirpur, Dhaka",7280000,Apartment,4.0,4.0,1456.0,23.81223,90.35967,Mirpur,Section 11
2,2.0,"Chowdhuripara, Khilgaon, Dhaka",13000000,Apartment,3.0,3.0,1550.0,23.75349,90.42469,Khilgaon,Chowdhuripara
3,3.0,"Road No 4, Banani, Dhaka",37000000,Apartment,3.0,3.0,2669.0,23.78855,90.40081,Banani,Road No 4
4,4.0,"South Banasree Project, Banasree, Dhaka",3600000,Apartment,2.0,2.0,835.0,23.76354,90.43180,Banasree,South Banasree Project

In [7]:
len(df2['Region'].unique())

69

In [8]:
df3 = df2[['Price', 'Type', 'No. Beds', 'No. Baths', 'Area', 'Region']]
df3.head(1)

     Price       Type  No. Beds  No. Baths    Area  Region
0  7500000  Apartment       3.0        3.0  1300.0  Uttara

In [9]:
df4 = df3.rename(columns={
    'No. Beds': 'Bed',
    'No. Baths': 'Bath',
    'Area' : 'Size',
    'Region': 'Location'
})
df4.head(1)

     Price       Type  Bed  Bath    Size Location
0  7500000  Apartment  3.0   3.0  1300.0   Uttara

In [11]:
df5 = df4.iloc[:,[0,1,4,2,3,5]]
df5.head(1)

     Price       Type    Size  Bed  Bath Location
0  7500000  Apartment  1300.0  3.0   3.0   Uttara

In [13]:
df5.dtypes

Price         int64
Type         object
Size        float64
Bed         float64
Bath        float64
Location     object
dtype: object

In [15]:
df5.isnull().sum()

Price         0
Type          0
Size          0
Bed         204
Bath        204
Location      0
dtype: int64

In [16]:
df6 = df5.dropna()
df6.head(1)

     Price       Type    Size  Bed  Bath Location
0  7500000  Apartment  1300.0  3.0   3.0   Uttara

In [17]:
df6.isnull().sum()

Price       0
Type        0
Size        0
Bed         0
Bath        0
Location    0
dtype: int64